name: Cross-platform build-release-tag Compiler

on:
  workflow_dispatch: {} # manual dirty build tagged with date-time
  push:  # official build on tag v.incompatible-version.backward-compatible-version
    tags:
      - 'v.*'
permissions:
  contents: write
jobs:
  build-c:
    uses: kota-codex/ag-compiler/.github/workflows/build_c.yml@main
    secrets: inherit

  publish:
    runs-on: ubuntu-latest
    needs: build-c
    steps:
      - name: Download latest ag-runtime release
        run: |
          ASSET_URL=$(curl -s https://api.github.com/repos/kota-codex/ag-runtime/releases/latest \
            | grep -Po '"browser_download_url": "\K[^"]*ag-runtime-[0-9]+\.zip')
          echo "Downloading: $ASSET_URL"
          curl -L "$ASSET_URL" -o ag-runtime.zip
          mkdir -p lib
          unzip ag-runtime.zip -d lib/
          mv ./lib/ag-runtime-* ./lib/sys
      - uses: actions/download-artifact@v4
        with:
          path: in
      - uses: actions/checkout@v4
        with:
          repository: kota-codex/ag
          path: ag
      - name: Create per-platform zip archives
        run: |
          echo "in:"
          ls in
          echo "lib/sys:"
          ls lib/sys
          TAG="${GITHUB_REF_NAME#v.}"
          if [ -z "$TAG" ]; then
            TAG=$(date +%Y%m%d-%H%M)
          fi
          for PLATFORM in osx linux windows; do
            for ARCH in arm64 x64; do
              ZIPNAME="argentum-${ARCH}-${PLATFORM}-${TAG}.zip"
              (
                  cd "in/bin/"
                  mv ${ARCH}-${PLATFORM} bin
                  zip -r "../../$ZIPNAME" bin/
                  mv bin ${ARCH}-${PLATFORM}
              )
              zip -ur "$ZIPNAME" lib/
              (
                  cd ag/out/
                  zip -ur "../../$ZIPNAME" *
              )
             done
          done
      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: "*.zip"
          generate_release_notes: true
