name: Cross-platform build-release-tag Compiler

on:
  workflow_dispatch: {} # manual dirty build tagged with date-time
  push:  # official build on tag v.incompatible-version.backward-compatible-version
    tags:
      - 'v.*'
permissions:
  contents: write
jobs:
  build-c:
    uses: kota-codex/ag-compiler/.github/workflows/build_c.yml@main
    secrets: inherit

  publish:
    runs-on: ubuntu-latest
    needs: build-c
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: in
      - uses: actions/checkout@v4
        with:
          repository: kota-codex/ag
          path: ag
      - name: Create per-platform zip archives
        run: |
          # mv in/ag-module in/lib/sys
          TAG="${GITHUB_REF_NAME#v.}"
          if [ -z "$TAG" ]; then
            TAG=$(date +%Y%m%d-%H%M)
          fi
          for PLATFORM in osx linux windows; do
            for ARCH in arm64 x64; do
              ZIPNAME="argentum-${ARCH}-${PLATFORM}-${TAG}.zip"
              (
                cd "in/${PLATFORM}-comp-out/${ARCH}-${PLATFORM}" &&
                zip -r "../../../$ZIPNAME" .
              )
              #(cd in && zip -ur "../$ZIPNAME" lib/sys)
              #(cd ag/out &&zip -ur "../../$ZIPNAME" .)
            done
          done
      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: "*.zip"
          generate_release_notes: true
